h1 {
  color: rgb(51, 134, 88);
  text-align: center;
}

.class {
  font-size: 14pt;
  color: black;
  font-weight: bold;
}

.khung {
  border: 5px solid black;
  background-color: rgb(57, 103, 118);
  padding: 20px;
  margin: 20px auto;
}
li {
  margin-bottom: 10px;
}
